/*JUMPING OPTION*/
.wholeRobotJump {
    top: 50%;
    animation: jump 2s ease-in;
    animation-iteration-count: infinite;
}
@keyframes jump {
    0% {
        top: 50%;
    }
    10% {
        top: 58%;
    }
    20% {
        top: 44%;
    }
    25% {
        top: 43%;
    }
    30% {
        top: 42%;
    }
    50% {
        top: 50%;
    }
    55% {
        top: 49%;
    }
    60% {
        top: 50%;
    }
    100% {
        top: 50%;
    }
}

.legsJump {
    top: 118%;
    animation: legsJump 2s ease-in;
    animation-iteration-count: infinite;
}
@keyframes legsJump {
    0% {
        top: 118%;
    }
    10% {
        top: 99%;
    }
    16% {
        top: 118%;
    }
    100% {
        top: 118%;
    }
}

.blink {
    height: 10px;
    transform: translateY(10px);
    animation: blink 2s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        height: 10px;
        transform: translateY(10px);
    }
    50% {
        height: 10px;
        transform: translateY(10px);
    }
    75% {
        height: 0px;
        transform: translateY(15px);
    }
    100% {
        height: 10px;
        transform: translateY(10px);
    }
}

.talk {
    width: 25px;
    height: 4px;
    animation: roundMouth 1s ease-in-out;
    animation-iteration-count: 10;
}
@keyframes roundMouth {
    0% {
        height: 2px;
        width: 25px;
    }
    50% {
        height: 10px;
        width: 20px;
    }
    100% {
        height: 2px;
        width: 25px;
    }
}

.bubble {
    position: absolute;
    left: 20%;
    top: -18%;
    font-family: sans-serif;
    width: 270px;
    background: #fff;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    color: #000;
    z-index: 1;
    animation: bubble 0s ease-in 10s forwards;
}
@keyframes bubble {
    to {
        visibility: hidden;
    }
}

.spanBubble {
    width: fit-content;
    margin: auto;
    padding: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bubble-bottom-left::before {
    content: "";
    width: 0px;
    height: auto;
    position: absolute;
    border-left: 0px solid #000;
    border-right: 19px solid transparent;
    border-top: 50px solid #000;
    border-bottom: 20px solid transparent;
    left: 145px;
    bottom: -70px;
}
.bubble-bottom-left::after {
    content: "";
    width: 0px;
    height: auto;
    position: absolute;
    border-left: 19px solid #ffffff;
    border-right: 0px solid transparent;
    border-top: 0px solid #ffffff;
    border-bottom: 51px solid transparent;
    left: 146px;
    bottom: -48px;
}