@media (max-width: 1072px) {
    #mainForm {
        display: flex;
        flex-direction: column;
    }

}

body {
    max-width: 900px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
}

h2 {
    display: inline-block;
    color: rgb(36, 36, 111)
}

img:nth-of-type(1) {
    max-width: 140px;
    margin-top: 15px;
}

.carousel-container {
    overflow: hidden;
    margin-bottom: 2%;
}

.carousel {
    white-space: nowrap;
    transition: 1s ease-in-out;
}

.slide-buttons{
    display: none;
    justify-content: center;
}
.slide-buttons > button:nth-child(1) {
    margin-right: 3%;
    padding: 5px;
}
.slide-buttons > button:nth-child(2) {
    margin-left: 3%;
    padding: 5px;
}

.factory-section {
    width: 100%;
    display: inline-block;
    background-color: rgb(255 254 232);
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#basicRobot {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    margin-bottom: 12%;
    margin-left: -6%;
}

#basicRobot > h3 {
    font-size: 1.8em;
    margin: 4%
}

#robotContainer {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    min-width: 35%;
    height: 300px;
    margin-bottom: 12%;
}

.robotAndNameSection {
    width: 35%;
    margin-left: 2%;
}

#formH3 {
    border: 1px solid black;
    text-align: center;
    margin: -1px;
    font-weight:normal;
    padding: 0.5%;
}

#selectColor {
    width: auto;
}

#selectType {
    height: 22px;
    padding: 1px 2px;
}

#slide-2 {
    max-height: 50%;
    background-color: rgb(215, 224, 206);
    border: 1px solid black;
    margin: 2% 0 2% 0;
}

#mainForm {
    display: flex;
    justify-content: space-between;
    margin: 3% 3% 0 3%;
}

.formOptions {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#phrase {
    height: 4em;
    text-align: center;
}

#form-btns {
    display: flex;
    margin-bottom: 3%;
    margin-left: 3%;
}

.create {
    padding: 0 3%;
}

.showCreatedRobots {
    padding: 0 1%;
    margin: 0 3%;
}

#after-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    height: 210px;
    overflow-x: hidden;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98%;
  margin-top: 1%;
}

th {
    background-color: rgb(239, 239, 239);
}

td, th {
  font-size: 0.8em;  
  border: 2px solid gray;
  text-align: center;
  padding: 6px;
}

td, tbody {
    background-color: white;
}

.hrLastMessages {
    border: none;
    border-top: 2px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.hrLastMessages:after {
    background: #fffee8;
    content: 'Last messages';
    padding: 0 4px;
    position: relative;
    top: -12px;
}

/* #paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 60%;
}

.paragraph {
    border: 1px solid black;
    background-color: white;
    text-align: left;
}

.p{
    opacity: 0;
    overflow: hidden;
    margin: 5px;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.p1 {
    margin-right: 3%;
    max-height: 50px;
}
.p1 .bold {
    font-weight: bold;
}
.p2 {
    margin-right: 6%;
    max-height: 50px;
}
.italic {
    font-style: italic;
}
.p3 {
    margin-right: 9%;
    display: flex;
    max-height: 50px;
}
.p3 img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0;
}

.tooltip .paragraphTooltip {
    display: flex;
    justify-items: center;
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    white-space: pre-wrap;
}

.tooltip:hover .paragraphTooltip {
    visibility: visible;
}

.pTransition1 {
    animation-name: fadeIn;
    animation: fadeIn 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn 1s;
    -moz-animation-delay: 1s;
    -o-animation: fadeIn 1s;
    -moz-animation-delay: 1s;
    -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.pTransition2 {
    animation-name: fadeIn;
    animation: fadeIn 1s ease;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn 1s;
    -moz-animation-delay: 2s;
    -o-animation: fadeIn 1s;
    -moz-animation-delay: 2s;
    -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.pTransition3 {
    animation-name: fadeIn;
    animation: fadeIn 1s ease;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn 1s;
    -moz-animation-delay: 3s;
    -o-animation: fadeIn 1s;
    -moz-animation-delay: 3s;
    -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
} */